@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "sans-serif";
  background-image: url("images/Bg.png");
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-size: cover;
}

.container {
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 119vh;
}
.title {
  color: rgb(236, 164, 9);
  font-size: 3rem;
  padding: 1.5rem;
}
@media (max-width: 390px) {
  .title {
    font-size: 2.5rem;
  }
}

.input {
  width: 80%;
  position: relative;
  margin: 20px;
}
.input input {
  width: 100%;
  padding: 13px;
  background: #2f0269;
  border-radius: 20px;
  border: none;
  margin: 0;
  color: white;
}

.input input::placeholder {
  font-size: 17px;
  color: white;
}
.input input:focus {
  outline: none;
  background: rgb(3, 185, 185);
}
#btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10.8px;
  width: 7%;
  font-size: 18px;
  color: white;
  position: absolute;
  right: 0;
}
@media (max-width: 991px) {
  #btn {
    width: 20%;
  }
}
.info {
  margin-top: 60px;
}
@media (max-width: 450px) {
  .info {
    margin-top: 100px;
  }
}
#wType {
  background-color: blue;
  padding: 30% 0;
  border-radius: 25%;
}
h1 {
  color: white;
  display: inline;
}
.country {
  display: inline;
  color: rgb(238, 175, 3);
}

#wType {
  color: white;
}
#temp {
  font-size: 50px;
  background-color: aqua;
}
h3 {
  border-radius: 20px;
  padding: 8px;
  margin-top: 30px;
}
